@media all and (min-width: 480px) {
    .Settings {
      padding: 60px 0;
    }
  
    .Settings div {
      margin: 0 auto;
      max-width: 320px;
    }
    .Settings h3 {
      font-family: "Open Sans", sans-serif;
      font-weight: 600;
      text-align: center;
    }
  }

  hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }